body {
    background-image: url('images/space.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.c1 {
    color: rgb(227, 240, 189);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 2px grey;
}

.c2 {
    text-align: center;
    color: whitesmoke;
    font-size: 200%;
    padding-block: 10%;
    text-justify: auto;
}

.c3 {
    text-align: center;
    position: relative;
    color: rgb(227, 240, 189);
    text-shadow: 1px 1px 2px grey;
}

.c4 {
    color: rgb(227, 240, 189);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
    justify-content: left;
    text-shadow: 1px 1px 2px grey;
}

.l1 {
    color: rgb(277, 240, 189);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    padding-left: 5%;
}

.l2 {
font-family: 'Courier New', Courier, monospace;
color:rgb(277, 240, 189);
font-size: 200%;
border: 5rem;
padding: 5rem;
}

.placeholder {
    text-align: left;
    color: aqua;
}

.i1 {
    width: 100%;
    height: auto;
    max-width: 1080px;
    position: relative;
    justify-content: left;
    left: 22%;
    right: 22%;
    padding: 5%;
}

.i2 {
    width: 100%;
    height: auto;
    max-width: 1080px;
    position: relative;
    justify-content: left;
    left: 22%;
    right: 22%;
    padding: 5%;
}
